<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" routerLink="/">ExpenseTracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                
                <ul class="navbar-nav" *appShowAuthed="false">
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink="/auth">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink="/register">Register</a>
                    </li>
                </ul>
                
                <ul class="navbar-nav" *appShowAuthed="true">
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink="/profile">{{currentUser.userName}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="cursor: pointer;" (click)="logout()">Logout</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-grow-1" *appShowAuthed="true">
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink="/expenses/list">Expenses</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>