<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Register</h2>
        <app-alert></app-alert>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">Username</label><br>
                <input type="text" class="form-control" formControlName="userName">
                <div class="text-danger" *ngIf="(submitted && form.userName.errors) || (form.userName.invalid && (form.userName.dirty || form.userName.touched))">
                    <div *ngIf="form.userName.errors.required">
                        The UserName field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Email</label><br>
                <input type="email" class="form-control" formControlName="email">
                <div class="text-danger" *ngIf="(submitted && form.email.errors) || (form.email.invalid && (form.email.dirty || form.email.touched))">
                    <div *ngIf="form.email.errors.required">
                        The Email field is required
                    </div>
                    <div *ngIf="form.email.errors.email">
                        The Email field is not a valid e-mail address.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Password</label><br>
                <input type="password" class="form-control" formControlName="password">
                <div class="text-danger" *ngIf="(submitted && form.password.errors) || (form.password.invalid && (form.password.dirty || form.password.touched))">
                    <div *ngIf="form.password.errors.required">
                        The Password field is required                        
                    </div>
                    <div *ngIf="form.password.errors.minlength">
                        The Password must be at least 6 and characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Confirm Password</label><br>
                <input type="password" class="form-control" formControlName="confirmPassword">
                <div class="text-danger" *ngIf="(submitted && form.confirmPassword.errors) || (form.confirmPassword.invalid && (form.confirmPassword.dirty || form.confirmPassword.touched))">
                    <div *ngIf="form.confirmPassword.errors.required">
                        The Confirm Password field is required
                    </div>
                </div>
            </div>
            <button [disabled]="loading" type="submit" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a type="button" class="btn btn-link" routerLink="/auth">Log in</a>
        </form>
    </div>
</div>