<h4>Change password</h4>
<app-alert></app-alert>
<div class="row">
    <div class="col-md-6">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">Current password</label>
                <input type="password" class="form-control" formControlName="currentPassword">
                <div class="text-danger" *ngIf="(submitted && form.currentPassword.errors) || (form.currentPassword.invalid && (form.currentPassword.dirty || form.currentPassword.touched))">
                    <div *ngIf="form.currentPassword.errors.required">
                        The Current password field is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">New password</label>
                <input type="password" class="form-control" formControlName="newPassword">
                <div class="text-danger" *ngIf="(submitted && form.newPassword.errors) || (form.newPassword.invalid && (form.newPassword.dirty || form.newPassword.touched))">
                    <div *ngIf="form.newPassword.errors.required">
                        The New password field is required
                    </div>
                    <div *ngIf="form.newPassword.errors.minlength">
                        The Password must be at least 6 and characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Confirm password</label>
                <input type="password" class="form-control" formControlName="confirmPassword">
                <div class="text-danger" *ngIf="(submitted && form.confirmPassword.errors) || (form.confirmPassword.invalid && (form.confirmPassword.dirty || form.confirmPassword.touched))">
                    <div *ngIf="form.confirmPassword.errors.required">
                        The Confirm Password field is required
                    </div>
                </div>
            </div>
            <button [disabled]="loading" type="submit" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Update password
            </button>
        </form>
    </div>
</div>