<h2>My Account</h2>
<hr>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Profile</a>                
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./email" routerLinkActive="active">Email</a>                
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./password" routerLinkActive="active">Password</a>                
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./delete" routerLinkActive="active">Delete</a>                
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>